%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookies.any?
    #{@oven.cookies.size} cookie/s with #{@oven.cookie.fillings.blank? ? "no fillings" : @oven.cookie.fillings }
    #cookie-status
      = render 'cookie_status', cookie: @oven.cookie
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
